@import "app/css/mixins.css";
@import "app/css/variables.css";
@import "app/css/components.css";

.container {
  @mixin flex-box row, center, flex-start;
  align-self: center;
  flex: 1;
  padding-top: 1rem;
  height: 100%;
  width: 100%;
}

.block {
  @mixin flex-box column, flex-start, stretch;
  background-color: color(white a(80%));
  border-radius: $normal-border-radius;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 400px;
  width: 38%;
}

.block-about {
  composes: block;
  width: 50%;
}

.header {
  @mixin flex-box row, stretch, center;
  height: 3rem;
  border-bottom: 1px solid $default-border-color;
}

.body {
  @mixin flex-box column, center, center;
  /* padding-top: 3rem; */
  flex: 1;
}

.about-body {
  @mixin flex-box column, flex-start, center;
  padding-top: 3rem;
  flex: 1;
}

.threshold-body {
  @mixin flex-box column, flex-start, center;
  padding-top: 3rem;
  margin-left: 2rem;
  flex: 1;
}

.row {
  width: 100%;
  @mixin flex-box row, center, center;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  /* margin: 1rem; */
}

.row-value-timeout {
  composes: row;
  justify-content: flex-start;
}

.row-submit-timeout {
  composes: row;
  padding-left: 30%;
  justify-content: flex-start;
}

.input {
  /* composes: circle-box; */
  background-color: white;
  height: 2.2rem;
  border-radius: 1.1rem;
  border: 2px solid $primary-green;
  width: 200px;
  /* margin-left: 1rem; */
  margin-right: 1rem;
  text-align: center;
}

.input-disable {
  background-color: white;
  height: 2.2rem;
  border-radius: 1.1rem;
  border: 2px solid #ccc;
  width: 200px;
  /* margin-left: 1rem; */
  margin-right: 1rem;
  text-align: center;
  color: #ccc;
}

.input-error {
  composes: input;
  box-shadow: 0px 0px 1px 2px red inset;
  &:focus {
    box-shadow: 0px 0px 1px 2px red inset;
  }
}

.primary {
  composes: primary;
  width: 150px;
}

.submit-timeout {
  composes: primary;
}

.col {
  height: 2.8rem;
}

.label-timeout {
  width: 30%;
  padding-right: 1rem;
  text-align: right;
}

.label {
  composes: col;
  width: 100px;
  @mixin flex-box row, flex-end, center;
  margin-right: 0.5rem;
}

.label-threshold-title {
  composes: col;
  width: 200px;
  @mixin flex-box row, flex-end, center;
  margin-right: 0.5rem;
  margin-left: -15.5rem;
}

.submit-row {
  @mixin flex-box column, center, center;
  padding-top: 1rem;
  margin-left: 3rem;
}


.value {
  @mixin flex-box row, center, center;
  composes: circle-box col;
  width: 300px;
  border: 1px $default-border-color solid;
  background: white;
}

.error-message {
  @mixin flex-box row, center, center;
  position: relative;
  align-self: center;
  overflow: hidden;
  text-align: center;
  composes: circle-box;
  border: 3px solid color(red blackness(+40%));
  margin-bottom: 1rem;
  width: 300px;
  height: 2.2rem;
  max-height: 2.2rem;
  color: color(red blackness(+40%));
  background-color: color(white a(70%));
  opacity: 1;
  transition: max-height 0.5s;
  &:before {
    position: absolute;
    left: 1rem;
    content: url('css/images/warning.png');
  }
}

.hidden {
  opacity: 0;
  max-height: 0rem;
  margin-bottom: 0rem;
}

.error-container {

}

.upper-error-box {
  @mixin flex-box row, center, flex-start;
  color: white;
  padding: 0.1rem;
  position: absolute;

  border-radius: 5px;
  background: $primary-green;
  height: 40px;
  flex-basis: 100%;
  font-size: 1rem;

  z-index: 100;
  right: 63.5rem;
  top: 11.5rem;

  width: 270px;
  border: 2px solid white;
  box-shadow: 3px 0px 3px -2px #888, -3px 0px 3px -2px #888;
  transition: opacity 0.5s;
  visibility: visible;
  opacity: 1;

  &:before {
    position: absolute;
    right: -0.6rem;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid $primary-green;
  }
}

.upper-error-box-hidden {
  composes: upper-error-box;
  transition: visibility 0s 0.5s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

.lower-error-box {
  @mixin flex-box row, center, flex-start;
  color: white;
  padding: 0.1rem;
  position: absolute;

  border-radius: 5px;
  background: $primary-green;
  height: 40px;
  flex-basis: 100%;
  font-size: 1rem;

  z-index: 100;
  right: 63.5rem;
  top: 15.5rem;

  width: 270px;
  border: 2px solid white;
  box-shadow: 3px 0px 3px -2px #888, -3px 0px 3px -2px #888;
  transition: opacity 0.5s;
  visibility: visible;
  opacity: 1;

  &:before {
    position: absolute;
    right: -0.6rem;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid $primary-green;
  }
}

.lower-error-box-hidden {
  composes: lower-error-box;
  transition: visibility 0s 0.5s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

.license {
  overflow-y: hidden;
  border: none;
  height: 1.8rem;
  line-height: 1rem;
  width: 100%;
  /* height: 100%; */
  white-space: nowrap;
  resize: none;
  outline: none;
  text-align: center;

  &::-webkit-scrollbar {
    height: 8px;
    border: none;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    /* -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); */
    border-radius: 8px;
    background-color: transparent;
    transform: translateX(10px);
  }

  &:hover {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
}
